<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Informations rendez-vous</h5>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-2 pr-1">
                            <div class="form-group">
                                <label>ID du rendez-vous</label>
                                <input type="text" class="form-control" placeholder="Indefini" value="{{appointment.id}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-4 px-1">
                            <div class="form-group">
                                <label>Nom</label>
                                <input type="text" class="form-control" placeholder="Indefin" value="{{appointment.patient.name[0].family}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-4 px-1">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Prénom</label>
                                <input type="email" class="form-control" placeholder="Indefini" value="{{appointment.patient.name[0].given[0]}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 pl-1">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Priorité</label>
                                <input type="email" class="form-control" placeholder="Indefini" value="{{appointment.priority}}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 pr-1">
                            <div class="form-group">
                                <label>Date</label>
                                <input type="text" class="form-control" placeholder="Indefini" value="{{date}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 px-1">
                            <div class="form-group">
                                <label>Heure</label>
                                <input type="text" class="form-control" placeholder="Indefini" value="{{heure}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-6 px-1">
                            <div class="form-group">
                                <label>Description</label>
                                <input type="text" class="form-control" placeholder="Indefini" value="{{appointment.description}}" disabled>
                            </div>
                        </div>
                        <div class="col-md-2 pl-1">
                            <div class="form-group">
                                <label>Date de la demande</label>
                                <input type="text" class="form-control" placeholder="Indefini" value="{{appointment.created}}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Adresse</label>
                                <input type="text" class="form-control" placeholder="Indefini" value="Indefini" disabled>
                            </div>
                        </div>
                        <div class="col-md-6 px-1">
                            <div class="form-group">
                                <label>Téléphone</label>
                                <input type="text" class="form-control" placeholder="Indefini" value="{{patient.telecom[0].value}}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>